:root {   --primary-color: #B7190F
; }


header {
    background-color: #ff1800;
    border-bottom: 8px solid #000;
}

footer {
    background-color:#ff4800;
    color:#ff4800;
    border-top: 5px solid #ff4800;
}

blockquote {border-left: 8px solid #f00
}

a {color: #ff4800;
}

h1 {
    color:#ffa801;
}

.highlight {
    padding-left: 1rem;
    margin-left: -10rem;
    padding-right: 1rem;
    margin-right: -10rem;
    background-color: #fff00f;
    border: solid #000000;
}

header a {color :#050505;
}

body {
        font-family: giorgia,sans-serif;
	height: 100%;
 background: #353535;
color : #ff7800;
  min-height: 100vh;  

}

video { border: solid 8px #ff4800;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    border: 8px solid #ff4800;
}


.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}












